<div class="container-fluid mt-3">
<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <p><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</p>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :name,  class:"form-control", id:"floatingPassword" %>
    <%= form.label :name%>
  </div>

  <div class="mb-3">
  <%= form.label :category_icon, style:"display:block" %>
    <%= form.file_field :category_icon, id: "change-img-field", direct_upload: true%>
  </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create Category
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to Add this category?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <%= form.submit 'Add', class:"btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
<% end %>
