<div class="position-relative z-index-1>
<p style="color: green" class="m-0"><%= notice %></p>
<%= render :partial => 'group', locals:{group:@group}, class:"link-dark", style:"text-decoration:none;" %>

<div class="position-fixed height start-50 translate-middle w-100 d-flex justify-content-center p-2 z-index-2" style="background-color:#60B524;">
<button type="button" class="btn btn-outline-light w-75 rounded-0"><%= link_to "Add transaction", new_contract_path, class:"link-light link-with", style:"text-decoration:none;" %></button>
</div>
</div>

<div>
<p><%= link_to "Add transaction", new_contract_path %></p>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
