<nav class="navbar navbar-expand-lg" style="background-color:#3778C2; color:#EDF5FE;">
<%= link_to groups_path, class:"link-light ms-4 fs-3", style:"text-decoration:none;" do%>
<i class="bi bi-arrow-left"></i>
<%end%>
<a class="navbar-brand w-50 me-5" href="#"  style="color:#EDF5FE;"><%='DETAILS'%></a>
</nav>
<div class="position-relative z-index-1>
<p style="color: green" class="m-0"><%= notice %></p>
<%= render :partial => 'group', locals:{group:@group}, class:"link-dark", style:"text-decoration:none;" %>

<div class="position-fixed height start-50 translate-middle w-100 d-flex justify-content-center p-2 z-index-2" style="background-color:#60B524;">
<button type="button" class="btn btn-outline-light w-75 rounded-0"><%= link_to "Add transaction", new_contract_path, class:"link-light link-with", style:"text-decoration:none;" %></button>
</div>
</div>
