<nav class="navbar navbar-expand-lg" style="background-color:#3778C2; color:#EDF5FE;">
<%= link_to '/', class:"link-light ms-4 fs-3", style:"text-decoration:none;" do%>
<i class="bi bi-arrow-left"></i>
<%end%>
<a class="navbar-brand" href="#"  style="color:#EDF5FE;"><%='LOG IN'%></a>
<a class="navbar-brand" href="#"  style="color:#EDF5FE;"><%='log in'%></a>
</nav>

<div class="container-fluid mt-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"floatingInput", placeholder:"name@example.com" %>
    <%= f.label 'Email address'%>
  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"floatingPassword", placeholder:"password" %>
    <%= f.label :password %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions mb-2">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
<% end %>

<div class="d-flex w-100 flex-column justify-content-center align-items-center gy-0"><%= render "devise/shared/links" %></div>
</div>
